<!doctype html>
<html lang="en-US" dir="ltr" class="">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet prefetch' href='thirdparty/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css" rel="stylesheet">
    <link rel='stylesheet prefetch' href='http://ui-grid.info/release/ui-grid-unstable.css'>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="../thirdparty/css/angular-ui-tree.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/infrastyle.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src='http://ui-grid.info/release/ui-grid-unstable.min.js'></script>
    <script src='http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.min.js'></script>
    <script src='https://rawgit.com/cdwv/ui-grid-draggable-rows/master/js/draggable-rows.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script type="text/javascript" src="thirdparty/js/angular-ui-tree.min.js"></script>
    <script type="text/javascript" src="mainTabJs/mainTabCtrl.js"></script>
    <script type="text/javascript" src="js/mainCtrl.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <title>Services | InfraLabs</title>
</head>


<body style="margin-left: 60px; margin-right: 60px;" class="us section-introduction"  ng-app="tabApp">
        <div>
            <a href="../index.html"><img src="../images/logo.png" class="logoStyle" alt="logo" /></a><br/>
        </div>
        <div align="right">
       <p ng-hide="admin"> <b>Admin<b> </p>
         <b>{{username}}</b>
        </div>
        <br>
<br>
<div>
    <div id="tabs" ng-controller="TabController">
        <ul>
            <button style="width: 20%; color: #000000; background-color: #D3D3D3;" ng-repeat="tab in tabs" class="btn" ng-disabled="tab.disabled"
                    ng-class="{active:isActiveTab(tab.url)}"
                    ng-click="onClickTab(tab)">{{tab.title}}
            </button>
        </ul>
        <div class="milan">
            <div ng-include="currentTab"></div>
        </div>
    </div>
    <script type="text/ng-template" id="application.html">
		<br/>
		<div  ui-grid="gridOptions" class="grid" ui-grid-draggable-rows	ui-grid-grouping></div>
	</script>
	
	<script type="text/ng-template" id="database.html">
		<h2>database details here</h2>
	</script>
	
	<script type="text/ng-template" id="essbase.html">
		<h2>essbase details here</h2>
	</script>
	<script type="text/ng-template" id="weblogic.html">
		<h2>weblogic details here</h2>
	</script>
	<script type="text/ng-template" id="alerts.html">
		{{myalerts}}
	</script>
</div>
    <footer  class="cf" data-name="footer">
        <div style="width: 100%; border: 0; padding: 0; margin: 0;" class="container">
             <a align="left" class="footerLogoStyle" href="">InfraLabs</a>
           
            </div>
             <div align="right" style="width: 100%; border: 0; padding: 0; margin: 0;" class="cf">
              <h3 align="right">Find us on</h3>
                <ul align="right" id="yw2">
                    <li style="width: 100%; border: 0; padding: 0; margin: 0;" align="right"><a class="icon-before icon-twitter-before" href="https://twitter.com/infralabsio">Twitter</a></li>
                </ul>
           
            </div>
        </div>
        <div align="left" class="copyright">
            © 2016 InfraLabs
        </div>
    </footer>
    <span data-translation="Close" data-translation-word="modal"></span>
    <span data-translation="Full view" data-translation-word="gallery"></span>
    <script type="text/javascript">
    /*<![CDATA[*/

    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script',
        'http://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-184993-1', 'auto');
    ga('send', 'pageview');

    window.heap = window.heap || [],
        heap.load = function(e, t) {
            window.heap.appid = e, window.heap.config = t = t || {};
            var r = t.forceSSL || "https:" === document.location.protocol,
                a = document
                .createElement("script");
            a.type = "text/javascript", a.async = !0,
                a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js";
            var n = document.getElementsByTagName("script")[0];
            n.parentNode.insertBefore(a, n);
            for (var o = function(e) {
                    return function() {
                        heap.push([e].concat(Array.prototype.slice.call(
                            arguments, 0)))
                    }
                }, p = ["addEventProperties", "addUserProperties",
                    "clearEventProperties", "identify",
                    "removeEventProperty", "setEventProperties",
                    "track", "unsetEventProperty"
                ], c = 0; c < p.length; c++)
                heap[p[c]] = o(p[c])
        };
    heap.load("3517432402");

    jQuery(function($) {

        var heapDesktop = "true";
        var heapTouch = "true";
        if (isMobileBreakpoint()) {
            heapDesktop = "false";
        }
        if (document.getElementsByTagName("body")[0].className
            .indexOf("notouch") > -1) {
            heapTouch = "false";
        }
        heap.addEventProperties({
            "Desktop": heapDesktop,
            "Touch": heapTouch,
            "Logged In": "false"
        });

    });
    /*]]>*/
    </script>
</body>
<!-- Mirrored from www.vitsoe.com/us/606 by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 01 Oct 2016 18:48:32 GMT -->

</html>